@import "../Colors.css";
.categorySection{
  display: flex;
}
.categories{
  background-color: var(--backgroundColor);
  flex: 1;
}
.categoriesList {
  color: var(--darkOne);
  text-align: center;
}

.categories ul li {
  list-style: none;
  margin: 20px auto;
  color: var(--darkOne);
}
.categories nav{
  display: flex;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 1000px) {
  .categories {
    width: 100px;
  }
  .categories ul {
    padding: 5px;
  }
  .categories ul li {
    font-size: 10px;
  }

  .categoriesList{
    font-size: 1rem;
  }
}
