@import "../Colors.css";
.categorySection {
  display: flex;
  box-shadow: 0px 5px 8px var(--backgroundColor);
}
.categories {
  background-color: var(--menuColor);
  flex: 1;
}
.categoriesList {
  color: var(--primaryText);
  text-align: center;
}

.categories ul li {
  list-style: none;
  margin: 35px auto;
  color: var(--secondaryText);
  cursor: pointer;
}

.categories ul li,
.selectedFilter {
  box-sizing: border-box;
}
.categories ul li:hover,
.selectedFilter {
  background-color: var(--darkTwo);
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
}
.categories nav {
  display: flex;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 1057px) {
  .categories {
    width: 150px;
  }

  .categories ul {
    padding: 5px;
  }
  .categories ul li {
    font-size: 10px;
  }
  .categories ul li:hover,
  .selectedFilter {
    width: 100px;
  }

  .categoriesList {
    font-size: 1rem;
  }
}
