@import "../Colors.css";

p {
  color: var(--color6);
}
.homePageList {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.categorySection {
  width: 250px;
  position: fixed;
  top: 100px;
  bottom: 0;
  overflow-y: auto;
  background-color: var(--color7);
  border-right: 1px solid #cccccc;
}
.feedSection {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 250px;
  margin-top: 100px;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.postFeed {
  margin: 1rem;
}
.postFeed:hover {
  transition: 0.1s;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(213, 205, 205, 0.4);
  border-radius: 5px;
  border: solid gold;
}

@media (max-width: 1000px) {
  .categorySection {
    width: 100px;
  }
  .feedSection {
    margin-left: 100px;
  }
  .feedSection img {
    width: 200px;
    height: 150px;
  }
  p {
    font-size: 10px;
  }
  h1 {
    font-size: 15px;
  }
}
