.feedPreview {
  width: 250px;
  height: 450px;
}
.postHeader {
  color: var(--darkOne);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moreOptions {
  align-self: center;
}
.moreOptions:hover {
  cursor: pointer;
}

.feedPrice,
.feedTitle,
.feedDescription,
.feedTimestamp {
  color: var(--secondaryText);
  text-align: left;
}

.feedPrice,
.feedDescription{
  font-size: 13px;
}
.postHeader h3 {
  color: var(--primaryText);
}

.feedTimestamp {
  font-size: 13px;
  opacity: 0.5;
}

.feedImage {
  width: 250px;
  height: 200px;
}
.vendorUsername {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .feedPreview {
    width: 205px;
    height: 350px;
  }
}
