body,
html {
  margin: 0;
  padding: 0;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchArea {
  display: flex;
  align-items: center;
  border: 2px solid var(--darkTwo);
  border-radius: 20px;
  padding: 8px;
  width: 80% !important ;
  max-width: 600px;
  margin-top: 20px;
  margin-left: 50px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}
.searchIcon {
  margin-right: 8px;
  color: var(--primaryText);
}
