@import "../Colors.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100%;
}
.stopScrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.landingPageContent {
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}
.logo h3 {
  color: var(--primaryText);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}
.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: var(--buttonText) !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
  text-wrap: nowrap;
}
.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.showcaseArea .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.bigTitle {
  font-size: 1.4rem;
  color: var(--primaryText);
  text-transform: capitalize;
  line-height: 1.4;
}
.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2;
}
.showcaseArea .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

.toggleBtn {
  display: inline-block;
  border: none;
  background: var(--primaryText);
  color: var(--toggleIcon);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}
.toggleBtn i {
  list-style: 39px;
}
.toggleBtn:hover {
  background: var(--mainColor);
}

.landingPageContent.dark .toggleBtn i {
  display: block;
}
.landingPageContent.light .toggleBtn i {
  display: block;
}
.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

.hamburgerMenu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.hamburgerMenu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--secondaryText);
  border-radius: 3px;
  transition: 0.5s;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryText);
  border-radius: 3px;
  transition: 0.5s;
}
.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(8px);
}
.landingPageContent.active .hamburgerMenu .bar {
  background-color: transparent;
}
.landingPageContent.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}
.landingPageContent.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburgerMenu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--menuColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .links a {
    color: var(--color6);
    margin-left: 0;
    padding: 2rem 0;
  }
  .links ul {
    flex-direction: column;
  }
  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .landingPageContent.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .landingPageContent.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .container {
    padding: 0 1.5rem;
  }

  .bigTitle {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
    color: var(--secondaryText);
  }

  .showcaseArea {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .showcaseArea .btn {
    font-size: 0.8rem;
  }
  .showcaseArea .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }
  .bigTitle {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }
  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .bigTitle {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcaseArea .btn {
    font-size: 0.8rem;
  }
}
