.light {
    --color1: rgb(254, 218, 117); /* Yellow */
    --color2: rgb(250, 126, 30); /*Orange */
    --color3: rgb(214, 41, 118); /* Pink */
    --color4: rgb(150, 47, 191); /* Purple */
    --color5: rgb(79, 91, 213); /* Blue */
    --color6: rgb(255, 255, 255); /* White */
    --color7: black; /* Black */
    --mainColor: #64bcf4; /* Sky Blue*/
    --backgroundColor: #404040;
    --hoverColor: #5bacdf; /*Slightly darker blue*/
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
    --alert: red;
    --buttonColor: linear-gradient(
      45deg,
      blue 0%,
      purple 0%,
      rgb(230, 70, 182) 0%,
      rgb(255, 102, 102) 100%
    );
}

.dark {
  --color1: rgb(254, 218, 117); /* Yellow */
  --color2: rgb(250, 126, 30); /*Orange */
  --color3: rgb(214, 41, 118); /* Pink */
  --color4: rgb(150, 47, 191); /* Purple */
  --color5: rgb(79, 91, 213); /* Blue */
  --color6: rgb(255, 255, 255); /* White */
  --color7: black; /* Black */
  --mainColor: #00FFFF;
  --hoverColor: #00CCCC;
  --buttonText: #002E4D;
  --backgroundColor: #121212;
  --menuColor: #181818;
  --darkOne: #282828;
  --darkTwo: #404040;
  --primaryText: #FFFFFF;
  --secondaryText: #B3B3B3;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
  --alert: red;
  --buttonColor: linear-gradient(
      45deg,
      blue 0%,
      purple 0%,
      rgb(230, 70, 182) 0%,
      rgb(255, 102, 102) 100%
    );
}
