:root {
    --color1: rgb(254, 218, 117); /* Yellow */
    --color2: rgb(250, 126, 30); /*Orange */
    --color3: rgb(214, 41, 118); /* Pink */
    --color4: rgb(150, 47, 191); /* Purple */
    --color5: rgb(79, 91, 213); /* Blue */
    --color6: rgb(255, 255, 255); /* White */
    --color7: black; /* Black */
    --buttonColor: linear-gradient(
      45deg,
      blue 0%,
      purple 0%,
      rgb(230, 70, 182) 0%,
      rgb(255, 102, 102) 100%
    );
  }
