@import "../Colors.css";
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.userProfileSection {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: var(--backgroundColor);
  flex: 1;
  z-index: 500;
}

.welcomePlace {
  color: var(--primaryText);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

.userInfo {
  border-bottom: 1px solid var(--secondaryText);
  min-height: 250px;
  margin: 0 5px;
}

.formHeading {
  text-align: center;
  color: var(--modalTextColor);
}

.postForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--color6);
  height: calc(100vh - 329px);
  overflow: scroll;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  height: 150px;
}

.createButton {
  background: var(--buttonColor);
  color: var(--color6);
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.createButton:disabled {
  background: var(--secondaryText);
  cursor: not-allowed;
}

.userPosts {
  flex: 1;
  margin: 20px auto;
}

.userPostsPreview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.eachPost {
  margin: 5px;
  position: relative;
}

.userPostsPreview img {
  width: 400px;
  height: 300px;
}

.nameContainer,
.bioContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.bioContainer p {
  color: var(--secondaryText);
}
.welcomePlace p {
  color: var(--secondaryText);
}

.ellipsisIcon,
.editIcon {
  margin-left: 10px;
  cursor: pointer;
}
.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--lightOne);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownMenu ul,
.deleteDropDown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li,
.deleteDropDown li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownMenu li:hover,
.deleteDropDown li:hover {
  background-color: var(--hoverColor);
}

.shortcut {
  float: right;
}
p {
  color: var(--secondaryText);
}
.createButton {
  width: 200px;
  margin-left: 5px;
}
.postHeading {
  display: flex;
  justify-content: space-between;
}
.postHeading p {
  color: var(--secondaryText);
}
.availabilityInfo {
  font-size: 9px;
  text-align: center;
}
.compulsorySign{
  color: red;
}
.selectedCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.categoryTag {

  display: flex;
  align-items: center;
}

.suggestions{
  background-color: var(--secondaryText);
  padding: 10px;
  margin-bottom: 10px;
}
.suggestion{
  border-bottom: 0.7px solid var(--lightTwo);
}
.suggestion:hover{
  cursor: pointer;
  background-color: var(--lightTwo);
}
.selectedLocation{
  display: inline-block;
  background-color: var(--lightOne);
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 10px;
  width: max-content;
}
.removeLocation{
  margin-left: 7px;
  color: var(--darkTwo);
  font-size: 15px;
}
.removeLocation:hover{
  cursor: pointer;
}

.deleteDropDown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--lightOne);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.saveButton {
  background: var(--buttonColor);
  margin-top: 7px;
}

@media (max-width: 1000px) {
  .userPostsPreview img {
    width: 200px;
  }
  .createButton {
    width: 130px;
  }
}

@media (max-width: 849px){
  .userProfileSection {
    margin-top: 360px;
  }
}

@media (max-width: 439px){
  .userInfo {
    margin-top: 700px;
  }
}

@media (max-width: 629px) {
  .userProfileSection {
    margin-top: 320px;
  }
}
